:root{

--fondo1:#AE4DEB;
--fondo2:#5949EB;
--boton:#52D1EB;
--boton-hover:#B720F0;
--texto:white;

}

/* modo oscuro */

.dark-mode{

--fondo1:#1e0f2e;
--fondo2:#120a1f;
--boton:#8855EB;
--boton-hover:#B720F0;
--texto:#f1f1f1;

}

/* base */

body{

margin:0;
font-family:sans-serif;
background:linear-gradient(135deg,var(--fondo1),var(--fondo2));
color:var(--texto);
height:100vh;
overflow:hidden;
transition:0.4s;

}

/* pantallas */

.pantalla{

display:none;
height:100vh;
flex-direction:column;
justify-content:center;
align-items:center;
text-align:center;
animation:fade .4s;

}

.activa{

display:flex;

}

/* titulo */

.titulo{

font-size:40px;
margin-bottom:40px;

}

/* botones */

.botones{

display:flex;
flex-direction:column;
gap:20px;

}

.boton-app{

background:var(--boton);
border:none;
padding:14px 30px;
border-radius:30px;
font-weight:bold;
color:white;
text-decoration:none;
transition:.3s;

}

.boton-app:hover{

transform:scale(1.05);
background:var(--boton-hover);

}

/* boton volver */

.volver{

position:absolute;
top:20px;
left:20px;
background:none;
border:none;
font-size:25px;
color:var(--texto);

}

/* panel luces */

.panel-luces{

display:none;
margin-top:30px;
gap:20px;
flex-direction:column;

}

.luz{

display:flex;
gap:20px;
align-items:center;

}

.luz input{

padding:10px;
border:none;
border-radius:10px;

}

/* interruptor luces */

.switch{

position:relative;
display:inline-block;
width:50px;
height:26px;

}

.switch input{

opacity:0;

}

.slider{

position:absolute;
cursor:pointer;
top:0;
left:0;
right:0;
bottom:0;
background:#ccc;
border-radius:34px;
transition:.4s;

}

.slider:before{

position:absolute;
content:"";
height:20px;
width:20px;
left:3px;
bottom:3px;
background:white;
border-radius:50%;
transition:.4s;

}

input:checked + .slider{

background:var(--boton);

}

input:checked + .slider:before{

transform:translateX(24px);

}

/* formulario */

.formulario{

display:flex;
flex-direction:column;
gap:15px;

}

.formulario input{

padding:12px;
border-radius:10px;
border:none;

}

/* switch modo oscuro */

.modo-toggle{

position:absolute;
top:20px;
right:20px;

}

.switch-modo{

position:relative;
display:inline-block;
width:50px;
height:26px;

}

.switch-modo input{

opacity:0;

}

.slider-modo{

position:absolute;
cursor:pointer;
top:0;
left:0;
right:0;
bottom:0;
background:#ccc;
border-radius:30px;
transition:.4s;

}

.slider-modo:before{

position:absolute;
content:"";
height:20px;
width:20px;
left:3px;
bottom:3px;
background:white;
border-radius:50%;
transition:.4s;

}

.switch-modo input:checked + .slider-modo{

background:var(--boton);

}

.switch-modo input:checked + .slider-modo:before{

transform:translateX(24px);

}

/* animacion */

@keyframes fade{

from{opacity:0;transform:translateY(10px)}
to{opacity:1}

}